## Note that because this is consumed from the hello-world root dir, the paths 
## are relative to that dir, not this dir

ParigotLibPath="build/syscall.so"
ParigotLibSymbol="ParigotInitialize"

# the names of the microservices here have no significance, they are just for humans
[microservice.greet]
WasmPath="build/greeting.p.wasm"
Arg=[]
Env=[]


# helloworld, it has no services that it implements, it just consumes greet.
[microservice.helloworld]
WasmPath="build/hello.p.wasm"
Arg=[]
Env=[]
# this is the crucial line for parigot. "this is just a client and should run to completion".
Main=true

